<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        A simple dev project by <a href="http://www.jgamache.ca">Josh Gamache</a>. Check it out on my <a class="icon" href="https://github.com/Infiniwild/wdbBlog"><i class="fa fa-github"></i></a>
        </p>
    </div>
  </div>
</footer>
</body>
</html>