<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-half has-text-left">
        <p>A simple dev project by
          <a href="http://www.jgamache.ca">Josh Gamache</a>.</p>
      </div>
      <div class="column has-text-right">
        <p>
          Check it out on my
          <a class="icon" href="https://github.com/Infiniwild/wdbBlog" class="is-black">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
</footer>
<!-- <footer class="footer has-background-primary">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        A simple dev project by <a href="http://www.jgamache.ca">Josh Gamache</a>. Check it out on my <a class="icon" href="https://github.com/Infiniwild/wdbBlog"><i class="fa fa-github"></i></a>
        </p>
    </div>
  </div>
</footer> -->
</body>

</html>