<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-left">
        <p>A simple dev project by
          <a href="http://www.jgamache.ca">Josh Gamache</a>.</p>
      </div>
      <div class="column has-text-right">
        <p>
          Check it out on my <a href="https://github.com/joshgamache/wdbBlog">Github page<span class="icon"><i class="fab fa-github"></i></span></a>.
        </p>
      </div>
    </div>
</footer>
</body>

</html>
