<% include partials/header %>
<section class="section">
<main class="container">
      <div class="columns is-centered">
    <section class="column is-three-quarters">
<div class="box">
    <div class="is-size-3">Edit your post</div>
<form action="/blog" method="POST">
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" name="title" value="<%= blog.title %>">
  </div>
</div>
<div class="field">
  <label class="label">Image URL</label>
  <div class="control">
    <input class="input" type="text" name="image" value="<%= blog.image %>">
  </div>
</div>
<div class="field">
  <label class="label">Post</label>
  <div class="control">
    <textarea class="textarea" name="body" value="<%= blog.body %>"></textarea>
  </div>
</div>

  <div class="control">
  <button class="button is-primary">Submit</button>
</div>

</form>
</div>
    </section>
      </div>
</main>
</section>
<% include partials/footer %>