<% include partials/header %>
<main class="container">
  <div class="columns is-centered">
    <section class="column is-three-quarters">
        <% blogs.forEach(function(blogPost){ %>
      <article class="card">
        <div class="card-image">
          <figure class="image">
            <img src="<%= blogPost.image %>" alt="Photos of the city">
          </figure>
        </div>
        <div class="card-header">
          <div class="card-header-title">
            <%= blogPost.title %>
          </div>
        </div>
        <div class="card-content">
          <div class="content">
            <%= blogPost.body %>
          </div>
        </div>
        <div class="card-footer level">
                <div class="level-left">
                    <div class="level-item">
                        <p class="button is-light is-static"><%= blogPost.postCreated %></p>
                    </div>
                </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="" class="button is-warning">Edit</a>
                </div>
                <div class="level-item">
                    <a href="" class="button is-danger">Delete</a>
                </div>
            </div>
        </div>
      </article>
      <% }); %>
    </section>
  </div>
</main>
<% include partials/footer %>