<% include partials/header %>
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Not much to see here yet
      </h1>
      <h2 class="subtitle">
        One day soon this will show the blog posts that have been made.
      </h2>
<div class="container">
    <!-- Loop through here -->


</div>
    </div>
  </div>
</section>
<% include partials/footer %>