<% include partials/header %>
<section class="section">
<main class="container">
      <div class="columns is-centered">
    <section class="column is-three-quarters">
<div class="box">
<form action="/blog" method="POST">
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Blog title" name="title">
  </div>
</div>
<div class="field">
  <label class="label">Image URL</label>
  <div class="control">
    <input class="input" type="text" placeholder="Blog image" name="image">
  </div>
</div>
<div class="field">
  <label class="label">Post</label>
  <div class="control">
    <textarea class="textarea" placeholder="Content for the blog post" name="body"></textarea>
  </div>
</div>

  <div class="control">
  <button class="button is-primary">Submit</button>
</div>

</form>
</div>
    </section>
      </div>
</main>
</section>
<% include partials/footer %>